body {
  height: 100%;
  width: 100%;
  background-image: url("images/gotDirewolf.jpg");
  background-position: top;
  background-repeat: no-repeat;
  font-family: 'Cinzel Decorative', cursive;
}

header {
  font-size: 1em;
  text-align: center;
}

h1 {
 margin-bottom: 8px;
 padding-top: 20px;
 width: 100%;
 color: darkred;
 font-size: 2em;
}

.statistics {
  background-color: antiquewhite;
  color: #680505;
  font-weight: bolder;
  text-align: center;
}

.brought-to-you {
  padding-top: 8px;
  height: 20px;
  width: 100%;
  background-color: #680505;
  color: white;
  font-size: .4em;
  text-align: center;
}

.icon-container {
  height: 100%;
  width: 100%;
  text-align: center;
}

.icons {
  width: 28px;
}

.wolf {
  width: 36px;
}

.id-container {
  margin-left: 0 20px 0 20px;
   height: 100%;
   width: 100%;
  }

.header-top {
  background-color: #515454;
  color: white;
  text-align: center;
}

.card {
  margin-left: 5px;
  margin-top: 10px;
  height: 25%;
  width: 95%;
  background-color: lightgray;
  border: 3px solid gray;
  font-weight: 'Cinzel', serif;
}

.jon-image,
.arya-image,
.bran-image,
.sansa-image {
  float: left;
  margin: 12px 0 0 15px;
  width: 60px;
  border: 2px solid darkred;
}
.kills {
  text-align: center;

}

.caption {
  font-size: 1em;
}

.number {
  font-size: 2.8em;

}
.attempted  {
  font-size: .7em;
}

.tiny-icon {
  float: left;
  margin: 0 22px;
  width: 40px;
}

.stark-name {
  margin: 25px 0;
  padding-top: 25px;
  width: 100%;
  border-top: 1px solid gray;
  font-size: 1.4em;
  text-align: center;
}

@media screen and (min-width:700px) {

  h1 {
    font-size: 3em;
  }
  .icons {
    margin-left: 20px;
    width: 40px;
  }
  .wolf {
    width: 50px;
  }
  .id-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    width: 70%;
   }

  .card {
    flex-grow: 1;
    width: 45%;
    border-style: none;
    }

  .jon-image,
  .arya-image,
  .bran-image,
  .sansa-image {

   margin: 6px 0 0 15px;
   width: 20%;
   border: 2px solid darkred;
   border-radius: 50%;
  }

  .brought-to-you,
  .statistics {
    margin: 6px auto;
    width: 70%;
    font-size: 1em;
    text-align: center;
  }

  .jon,
  .bran {
    margin-left: 0;
  }

}
